<div class="footer">
  <div class="socials">
    <a class="email"><i class="fa fa-envelope"></i>conferenceio@gmail.com</a>
    <div class="social-icons">
        <i class="fa fa-facebook fa-lg"></i>
        <i class="fa fa-twitter-square fa-lg"></i>
        <i class="fa fa-google-plus-square fa-lg"></i>
        <i class="fa fa-youtube-square fa-lg"></i>
        <i class="fa fa-linkedin fa-lg"></i>
    </div>
    <a class="phone"><i class="fa fa-phone"></i>(412)796-0258</a>
  </div>
  <hr>
  <div class="copyright">
    <span>@2019 Christian Penrod. All Rights Reserved</span>
  </div>
</div>